@model IList<Event>
@{
    ViewBag.Title = "Load Test";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RunTest", "LoadTest", FormMethod.Post))
{
    <fieldset>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group bottom-margin-s">
                    <label>Event : </label>@Html.DropDownList("eventId", new SelectList(Model.Select(item => new { Text = item.Name, Value = item.Id }), "Value", "Text"), new { @class = "form-control" })
                </div>
                <div class="form-group bottom-margin-s">
                    <label>Tag : </label><input type="text" class="form-control" name="tag" id="tag" value="load-test-1" />
                </div>
                <div class="form-group bottom-margin-s">
                    <label>Number of requests : </label><div id="requests-slider"></div>
                    <input type="number" readonly class="loadtest-readonly" name="requestsCount" id="requestsCount" />
                </div>
                <input type="submit" class="btn btn-primary btn-success" value="Start Load Test" />
            </div>
        </div>
    </fieldset>
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $("#requests-slider").slider({
                range: "min",
                value: 50,
                min: 0,
                max: 300,
                step: 50,
                slide: function (event, ui) {
                    $("#requestsCount").val(ui.value);
                }
            });
            $("#requestsCount").val($("#requests-slider").slider("value"));
        });
    </script>
}